<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>NeoGaming | Galería</title>
  <link rel="stylesheet" href="../css/estilos.css" />
</head>
<body class="layout">
  <header>
    <div class="logo">NeoGaming</div>
    <nav>
      <ul class="menu">
        <li><a href="../index.html">Inicio</a></li>
        <li><a class="activo" href="productos.html">Galería</a></li>
        <li><a href="presupuesto.html">Presupuesto</a></li>
        <li><a href="contacto.html">Contacto</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="galeria">
      <h1>Galería de Juegos</h1>
      <div class="grid">
        <img src="../img/juego1.jpg" alt="Juego 1" width="300" height="200" />
        <img src="../img/juego2.jpg" alt="Juego 2" width="300" height="200" />
        <img src="../img/juego3.jpg" alt="Juego 3" width="300" height="200" />
        <img src="../img/juego4.jpg" alt="Juego 4" width="300" height="200" />
        <img src="../img/juego5.jpg" alt="Juego 5" width="300" height="200" />
        <img src="../img/juego6.jpg" alt="Juego 6" width="300" height="200" />
      </div>
    </section>
  </main>

  <footer>
    <div class="footer-content">
      <p>© 2025 NeoGaming</p>
      <div class="redes">
        <a href="https://facebook.com" target="_blank">
          <img src="../img/facebook.png" alt="Facebook" width="50" height="50" />
        </a>
        <a href="https://twitter.com" target="_blank">
          <img src="../img/twitter.png" alt="Twitter" width="50" height="50" />
        </a>
        <a href="https://youtube.com" target="_blank">
          <img src="../img/youtube.png" alt="YouTube" width="50" height="50" />
        </a>
      </div>
      <p>Av. Gamer 404, Mundo Virtual | <a href="#">Aviso Legal</a></p>
    </div>
  </footer>
</body>
</html>
